<script>
	import '../app.pcss';
	import { Button, Navbar, NavBrand, NavLi, NavUl, NavHamburger } from 'flowbite-svelte';
	import { SvelteToast } from '@zerodevx/svelte-toast';
	import { onMount } from 'svelte';
	import { init_backend } from '$lib/utils';
	import AddPlant from '$lib/AddPlant.svelte';

	onMount(() => {
		init_backend();
	});
	let hidden = true;
</script>

<div class="text-center">
	<Button>Enable Notifications</Button>
	<AddPlant>Add</AddPlant>
	<slot />
</div>
