<script>
	import { onMount } from 'svelte';
	import { get_plants, get_server, call_backend } from '$lib/utils.js';
	import AddPlant from '$lib/AddPlant.svelte';
	import ProgressBar from '$lib/ProgressBar.svelte';
	import { Button, Card, Heading, TableBody, TableBodyCell, TableBodyRow } from 'flowbite-svelte';

	onMount(() => {
		setup_plants();
	});

	async function setup_plants() {
		plants = await get_plants();
	}

	let plants = [];

	function watering_progress(plant) {
		const now = new Date();
		const watering = new Date(plant.last_watering);
		const freq = plant.freq_days * 24 * 60 * 60 * 1000;
		return (100 * (now.getTime() - watering.getTime())) / freq;
	}

	function label_progress(plant) {
		const now = new Date();
		const watering = new Date(plant.last_watering);
		const freq = plant.freq_days * 24 * 60 * 60 * 1000;
		let remaining = Math.abs(watering.getTime() + freq - now.getTime());
		remaining /= 1000 * 60;
		if (remaining < 60) {
			return remaining.toFixed(1) + ' minutes';
		}
		remaining /= 60;
		if (remaining < 24) {
			return remaining.toFixed(1) + ' hours';
		}
		remaining /= 24;
		return remaining.toFixed(1) + ' days';
	}

	function get_image(plant) {
		if (plant.image_name === null) {
			return;
		} else {
			return `${get_server()}/image/${plant.image_name}`;
		}
	}

	async function watered(plant, index) {
		await call_backend('POST', `/water/${plant.id}`, null, 'Failed to water', true);
		plants[index] = await call_backend('GET', `/plant/${plant.id}`, null, 'Failed to update plant');
	}

	async function sowed(plant, index) {
		await call_backend('POST', `/sow/${plant.id}`, null, 'Failed to sow', true);
		plants[index] = await call_backend('GET', `/plant/${plant.id}`, null, 'Failed to update plant');
	}
</script>

<div>
	{#each plants as plant, i}
		<Card img={get_image(plant)}>
			{#if watering_progress(plant) > 100}
				<ProgressBar color="red" progress="100" labelInside label={label_progress(plant)} />
			{:else}
				<ProgressBar
					progress={watering_progress(plant)}
					labelInside
					label={label_progress(plant)}
				/>
			{/if}
			<Heading tag="h2">
				{plant.name}
			</Heading>
			<TableBody>
				<TableBodyRow>
					<TableBodyCell>Frequency</TableBodyCell>
					<TableBodyCell>{plant.freq_days} days</TableBodyCell>
				</TableBodyRow>
				<TableBodyRow>
					<TableBodyCell>Last Watering</TableBodyCell>
					<TableBodyCell>{plant.last_watering}</TableBodyCell>
				</TableBodyRow>
				<TableBodyRow>
					<TableBodyCell>Sowed</TableBodyCell>
					<TableBodyCell>{plant.sowed}</TableBodyCell>
				</TableBodyRow>
			</TableBody>
			<Button on:click={() => watered(plant, i)}>Watered</Button>
			<Button on:click={() => sowed(plant, i)}>Sowed</Button>
			<AddPlant button_name="Edit" title="Edit Plant" bind:plant />
		</Card>
	{/each}
</div>
