<script>
	import {
		Fileupload,
		Select,
		Button,
		Modal,
		Label,
		Input,
		NumberInput,
		Checkbox
	} from 'flowbite-svelte';
	import { call_backend } from '$lib/utils';

	async function submit() {
		if (image !== null) {
			plant.image_name = await call_backend(
				'PUT',
				'/image',
				image[0],
				'Failed to upload image',
				false,
				false
			);
		}
		let json = await call_backend('PUT', '/plant', plant, 'Failed to create new plant');
		if (json !== null) {
			location.reload();
		}
	}

	let form_modal = false;
	let image = null;
	export let plant = {
		name: '',
		freq_days: 7,
		image_name: null
	};
	export let button_name = 'Add Plant';
	export let title = 'Add a new plant';
</script>

<span>
	<Button on:click={() => (form_modal = true)}>{button_name}</Button>

	<Modal bind:open={form_modal} size="xs" autoclose={false} class="w-full">
		<form class="flex flex-col space-y-6" action="#">
			<h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">{title}</h3>
			<Label class="space-y-2">
				<span>Name</span>
				<Input type="text" name="name" bind:value={plant.name} required />
			</Label>
			<Label class="space-y-2">
				<span>Frequency (days)}</span>
				<NumberInput name="frequency" bind:value={plant.freq_days} required />
			</Label>
			<Label class="space-y-2">
				<span>Image</span>
				<Fileupload bind:files={image} />
			</Label>
			<Button on:click={submit} type="submit" class="w-full1">Add</Button>
		</form>
	</Modal>
</span>
